html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  background-color: #10171b;
  color: #545454;
}
