.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;

  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
