:root {
  --primary-text-color: #000;
  --button-text-color: #fff;
  --accent-colo-text: #ff6b08;
  --button-color: #FF6B01;
  --background-color: #f7f7f7;
  --modal-footer-color: #8C8C8C;
}

$desktop: 1024px;
$mobile: 480px;
$tablet: 768px;

