<div class="container movies__wrapper">
  <ul class="gallery-list list"></ul>
  <div class="pagination js-pagination">
    <button
      id="pg-button-prev"
      type="button"
      class="pagination__button"
      data-page="prev"
    >
      <svg class="arrow-left" width="16" height="16">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <ul class="pagination__list"></ul>

    <button
      id="pg-button-next"
      type="button"
      class="pagination__button"
      data-page="next"
    >
      <svg class="arrow-right" width="16" height="16">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>

