

<div class="netflix__wrapper">

		<div class="netflix">
			<p class="has-text-white">Action Movies Collection</p>
		</div>
		<div class="netflix__slides">
			<img class="slide__img" src="https://occ-0-6347-1433.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABec-q2JD9-fhnCFZGGO0mh_dnB7l02M-dBEJXOdBoQ0RR_Y27hBojnKMqToUK4p9HMO8ksDrl06ewg0eYIdnC8E1eieFlWMRLOewIX7p6Ld4ApuDyQFFOvGZ-PaJocOIPx5u.jpg?r=dbd">
		</div>
		<div class="is-one-quarter">
			<img class="slide__img" src="https://occ-0-6347-1433.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABfvV8ReTbM_8g7vqvBbt0E5dC0-eGvXSyK13vLwAx5ttJK2p53561nlQSj5pkW8mbaaBsyNZX1MBwcQ6UxJS7GVRcozd78aXckEMaVOjoSOR3NtjcSAcoW54mB7GfhTmhL6-rUu0iZHhAAdcpamYbCWoTAK9N5KPAdRlya5AXP9tv0FtWk-hV2KgnCWsaFk.jpg?r=c77">
		</div>
		<div class="is-one-quarter">
			<img class="slide__img" src="https://occ-0-6347-1433.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABThf2j5jL4PUzeNID0a0IQG_VX6cbZPbpOGrkYKIyd5K4hRMFFYgN2UcCzXZ-ClrjXARduvJW1gr67Akb1tPgFKM_k3SHt-0nvbV2bs8xnoogqjcF1hvgzWhRDUH8BgIbWe5.jpg?r=3cd">
		</div>
		<div class="is-one-quarter">
			<img class="slide__img" src="https://occ-0-6347-1433.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABeoLOJl2CqiASVygSBnd6Y6txeCU59zZbp9RPZ-xE_h5WHlZJBedeDzUgnob2WzkCiKGO7TdicT6wYQj9XxJiIhkIRWsef-z0_iGLVIlkede_cbJdVd6TSPyHOulzwxgmmZmVgzVSL7K6CQJT-l3BhnIXlqIisdkFNFiDMC1Scy5lJUjAHQNT0KxpXTHnoA.jpg?r=9c9">
		</div>

</div>

<div class="container movies__wrapper">
  <ul class="gallery-list list"></ul>
  <div class="pagination js-pagination">
    <button
      id="pg-button-prev"
      type="button"
      class="pagination__button btn-lib"
      data-page="prev"
    >
    &#5130
    </button>

    <ul class="pagination__list"></ul>

    <button
      id="pg-button-next"
      type="button"
      class="pagination__button btn-lib"
      data-page="next"
    >
     &#5125;
    </button>
  </div>
</div>

