<header class="header">
  <div class="header_block">
    <div class="navigation__container">
      <a href="" class="logo">
        <svg class="logo__svg rotate-vert-center">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="navigation">
        <ul class="menu list">
          <li class="menu__item">
            <a
              href="#"
              class="link menu__link menu__link-home current"
              data-current="home"
              >HOME</a
            >
          </li>
          <li class="menu__item">
            <a
              href="#"
              class="link menu__link menu__link-library"
              data-current="library"
              >MY LIBRARY</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <form id="search-form" action="" class="search">
      <input
        class="search__input"
        name="query"
        type="text"
        placeholder="Movie search"
      />
      <button class="search__button" type="submit" title="Go!">
        <svg class="search__button-icon rotate-vert-center">
          <use href="./images/sprite.svg#icon-search-2"></use>
        </svg>
      </button>
    </form>
  </div>  

  <div class="toolbar">
    <div class="theme-switch">
      <div class="theme-switch-control">
        <input class="checkbox"  type="checkbox" id="theme-switch-toggle">
      </div>			
    </div>
  </div>

  <div class="button_hidden">
    <ul class="buttons">
      <li>
        <button
          type="button"
          class="button btn-lib button-active"
          data-list="watched"
        >
          WATCHED
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button btn-lib no-active"
          data-list="queue"
        >
          QUEUE
        </button>
      </li>
    </ul>
  </div>
  <!-- <p class="warning-notification"></p> -->
</header>


