<section class="slide">
    <h1 class="slide__title visually-hidden">Movies</h1>
    <div class="container__slider"></div>
</section>


  <!-- <li class='glide__slide--elem footer-modal__card'>
    <div class='border__outside'>
      <div class='border__inside'>
        <img class='student-foto' src="https://kolesanencore.github.io/Oh-my-donats/sergey.0d51e22f.png" alt={{name}} />
      </div>
    </div>
    <div class='student__card'>
      <h3 class='student__name'>Koleasn Sergey</h3>
      <p class='student__role'>Developer</p>
      <ul class='footer__social'>
        <li class='footer__sociallink'>
          <a class='student__link' href="https://github.com/Kolesanencore" target='_blank'>
            <i class='fa-brands fa-github fa-xl'></i>
          </a>
        </li>   
      </ul>
      <p class='student__about'>
        Включите мне свет на пару дней
      </p>
    </div>
  </li> -->