.button {
    display: block; 

    padding: 14px 0 12px;

    box-sizing: border-box;

    outline: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;

    text-transform: uppercase;
    text-align: center;
}