.pagination {
  display: block;
  min-width: 280px;
  border-radius: 9px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.pagination.pagination--no-result {
  display: none;
}

.pagination,
.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.pagination__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  height: 50px;
  border-radius: 9px;
  margin: 0 9px;
  overflow: hidden;

  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
}

.pagination__item {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}

.pagination__item--dote {
  width: 15px;
}

.pagination__item > .pagination__button--dote {
  cursor: default;
}

.pagination__item > button {
  border: none;
  background-color: #f7f7f7;
  box-shadow: none;
  cursor: pointer;
  border-radius: 9px;
  background: none;
}

.pagination__item > .pagination__button--active {
  background: #ff6b08;
  color: #ffff;
  box-shadow: 0 2px 8px #ff6b0180, inset 0 1px #ffffff4d, inset 0 10px #fff3,
    inset 0 10px 20px #ffffff40, inset 0 -15px 30px #ff6b014d;
}

.pagination__button {
  background-color: #f7f7f7;
  box-shadow: 0 2px 8px #ff6b0180, inset 0 1px #ffffff4d, inset 0 10px #fff3,
    inset 0 10px 20px #ffffff40, inset 0 -15px 30px #ff6b014d;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  background-color: transparent;
}

.pagination__item > button:not(.pagination__button--dote):hover,
.pagination__button:hover {
  background: #ff6b08;
  color: #ffff;
  box-shadow: 0 2px 8px #ff6b0180, inset 0 1px #ffffff4d, inset 0 10px #fff3,
    inset 0 10px 20px #ffffff40, inset 0 -15px 30px #ff6b014d;

  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
}

.pagination__item > button {
  width: 45px;
  height: 45px;
}

.pagination__item > button[data-level='target'] {
  background: #ff6b08;
  color: #ffff;
}

.pagination--move-prev,
.pagination--move-top,
.pagination--move-next {
  animation: pagination-move-prev 0.5s ease both;
}

.pagination__button {
  width: 40px;
  height: 40px;
}

@-webkit-keyframes pagination-move-prev {
  from,
  0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}

@keyframes pagination-move-prev {
  from,
  0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes pagination-move-next {
  from,
  0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}
@keyframes pagination-move-next {
  from,
  0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(5px);
  }
  to,
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes pagination-move-top {
  from,
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(10px);
  }
  to,
  100% {
    transform: translateY(0px);
  }
}
@keyframes pagination-move-top {
  from,
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(10px);
  }
  to,
  100% {
    transform: translateY(0px);
  }
}
