.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 22px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  box-shadow: 0 2px 8px #ff6b0180, inset 0 1px #ffffff4d, inset 0 10px #fff3, inset 0 10px 20px #ffffff40, inset 0 -15px 30px #ff6b014d;
  opacity: 0.4;
}

.scroll-up:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  background: #ff6b08;
  opacity: 1;
}

.scroll-up:hover .scroll-up__icon {
  fill: rgb(250, 243, 229);
}

// html,
// body {
//   scrollbar-color: var(--accent-color) #f0ac7b3b; /* «цвет ползунка» «цвет полосы скроллбара» */
//   scrollbar-width: thin; /* толщина */
// }

/* полоса прокрутки (скроллбар) */
// ::-webkit-scrollbar {
//   width: 13px; /* ширина для вертикального скролла */
//   height: 7px; /* высота для горизонтального скролла */
//   background-color: #fcaf782c;
// }

// /* ползунок скроллбара */
// ::-webkit-scrollbar-thumb {
//   // background-color: var(--accent-color);
//   border-radius: 50px;
//   box-shadow: inset 1px 1px 5px #f7f3fa;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #cf4e03;
// }
