.checkbox {
  // background-color: aqua;
  appearance: none;
  outline: none;
  position: absolute;
  height: 40px;
  width: 80px;
  border: 5px solid #10171b;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5), inset 10px 10px 15px -10px #c3c3c3,
    inset -10px -10px 15px -10px #fff;

  @media (prefers-color-scheme: light) {
     box-shadow: -8px -4px 8px 0px rgba(255, 255, 255, 0.05),
      8px 4px 12px 0px rgba(0, 0, 0, 0.5),
      inset -4px -4px 4px 0px rgba(255, 255, 255, 0.05),
      inset 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: -8px -4px 8px 0px rgba(255, 255, 255, 0.05),
      8px 4px 12px 0px rgba(0, 0, 0, 0.5),
      inset -4px -4px 4px 0px rgba(255, 255, 255, 0.05),
      inset 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  }

  /* Toggle Indicator */
  &::before {
    content: '';
    height: 25px;
    width: 25px;
   
    position: absolute;
    margin: auto;
    top: 0px;
    left: 41px;
    bottom: 0px;
    border-radius: 50%;
     box-shadow: 7px 7px 15px #1c0202b5, 9px 9px 16px rgba(14, 1, 1, 0.6);
    transition: 0.5s;
    box-shadow: 0 2px 8px rgba(255, 35, 1, 0.5), inset 0 1px rgb(255 255 255 / 30%), inset 0 10px rgb(255 255 255 / 20%), inset 0 10px 20px rgb(255 255 255 / 25%), inset 0 -15px 30px rgb(255 107 1 / 30%);

    // // @media (prefers-color-scheme: light) {
    //   box-shadow: 7px 7px 15px #300505, 9px 9px 16px rgba(189, 189, 189, 0.6);
    // // }
  
    // @media (prefers-color-scheme: dark) {
    //   box-shadow: -8px -4px 8px 0px rgba(255, 255, 255, 0.05),
    //     8px 4px 12px 0px rgba(0, 0, 0, 0.5);
    // }
    
    
  }

  /* Label */
  &::after {
    content: 'Off';
    text-shadow: 0 4px 4px rgb(0 0 0 / 38%);
    position: absolute;
    top: 3px;
    right: 37px;
    color: #f5f5f75b;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Arial',
      sans-serif;
    font-weight: 400;
    // letter-spacing: 0.004em;
  }

  /* Checked Styles */
  &:checked {
    background: #890914a3;

    // @media (prefers-color-scheme: light) {
    //   box-shadow: 9px 9px 16px rgba(30, 5, 5, 0.6),
    //     -9px -9px 16px rgba(0, 0, 0, 0.5),
    //     inset 10px 10px 15px -10px rgb(0, 71, 185),
    //     inset -10px -10px 15px -10px rgb(0, 0, 0);
    // }

    &::before {
      left: 4px;
      // box-shadow: none;
    }

    &::after {
      content: 'On';
      left: 38px;
      color: #f5f5f7;
      text-shadow: 0 4px 4px rgb(0 0 0 / 38%);
    }
  }
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #10171b;
     color: var(--modal-footer-color);
}

.grey-background-theme {
  
    background-color: rgba(21, 21, 21, 0.7);
    
  .footer__link {
      color: var(--modal-footer-color);
  }
}

.toolbar {
    display: flex;
    justify-content: center;
}

.theme-switch {
    display: flex;
    z-index: 0;
    position: absolute;

    margin-top: 20px;

    @media screen and (max-width: 479px) {
      margin-right: -55px;
    }
}

.theme-switch-control {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 60px;
        height: 20px;
    border-radius: 50em;
    padding: 3px 0;
}



