.image-wrapper {
  overflow: hidden;
  border-radius: 5px;
}

.list-item {
  cursor: pointer;
  flex-direction: column;
  transition: transform 250ms ease-in-out,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 5px 5px 5px 5px;
    transform: scale3d(0.95, 0.95, 0.95);
    box-shadow: 0 0 20px 5px rgba(255, 107, 1, 0.251),
      0 0 15px 3px rgb(255, 107, 1);
  }
}

.list-item__img {
  display: block;
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

.list-item__title {
  color: #82b408;
  font-family: Roboto, sans-serif;
  font-style: Medium;
  font-weight: 500;
  font-size: 12px;
}

.list-item__description {
  display: flex;
  color: var(--accent-colo-text);
  font-family: Roboto, sans-serif;
  font-style: Medium;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}


.list-item__time,
.list-item__genre,
.list-item__span {
  margin-right: 5px;
}

@media screen and (max-width: 479px) {
  .list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .image-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .list-item__title {
    line-height: 14px;
  }
}

@media screen and (min-width: 480px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .list-item {
    width: 430px;
  }

  .image-wrapper {
    width: 100%;
    margin-bottom: 8px;
  }

  .list-item__title {
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .list-item {
    width: calc((100% - 32px) / 2);
  }

  .image-wrapper {
    width: 336px;
    height: 455px;
  }

  .list-item__title {
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-list {
    row-gap: 32px;
    column-gap: 16px;
  }

  .list-item {
    width: calc((100% - 32px) / 3);

    &__title {
      font-size: 19px;
      line-height: 24px;
      padding-left: 8px;
      margin-bottom: 8px;
    }

    &__description {
      font-size: 20px;
      line-height: 24px;
      padding-left: 8px;
      margin-bottom: 8px;
    }

    &__vote {
      align-items: center;
      background-color: var(--button-color);
      border-radius: 5px;
      font-size: 15px;
      line-height: 1.167;
      margin-left: 8px;
      color: white;
      padding: 1px 10px;

      @media screen and (min-width: 1280px) {
        padding: 3px 12px;
      }
    }
  }

  .image-wrapper {
    width: 395px;
    height: 574px;
    margin-bottom: 8px;
  }
}

.gallery-list.gallery-list--no-result {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Netflix

.netflix__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding-bottom: 60px;
    padding: 32px;
}


.slide__img {
  	-webkit-box-reflect: below 5px
		linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
	transition: all 0.5s ease;

	object-fit: cover;

	object-position: top;
}

.slide__img:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


