.image-wrapper {
  overflow: hidden;
  border-radius: 5px;
}

.list-item {
  &:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 1px 4px rgb(42, 14, 14),
      -23px 0 20px -23px rgba(23, 23, 23, 0.8),
      23px 0 20px -23px rgba(14, 14, 14, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px 5px 5px 5px;
  }
  &:hover .descr-wrapper {
    padding: 5px;
  }
}

.list-item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-item__title {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: Medium;
  font-weight: 500;
  font-size: 12px;
}

.list-item__description {
  display: flex;
  color: var(--accent-color-text);
  font-family: Roboto, sans-serif;
  font-style: Medium;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.list-item__genre,
.list-item__span {
  margin-right: 5px;
}

@media screen and (max-width: 479px) {
  .list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .image-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .list-item__title {
    line-height: 14px;
  }
}

@media screen and (min-width: 480px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 60px;
  }

  .list-item {
    width: 430px;
  }

  .image-wrapper {
    width: 100%;
    margin-bottom: 8px;
  }

  .list-item__title {
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .list-item {
    width: calc((100% - 32px) / 2);
  }

  .image-wrapper {
    width: 336px;
    height: 455px;
  }

  .list-item__title {
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-list {
    row-gap: 32px;
    column-gap: 16px;
  }

  .list-item {
    width: calc((100% - 32px) / 3);
  }

  .image-wrapper {
    width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }

  .list-item__title {
    font-size: 20px;
    line-height: 24px;
  }

  .list-item__description {
    font-size: 20px;
    line-height: 24px;
  }
}

// .list-item__vote {
//   background-color: var(--button-color);
//   border-radius: 5px;
//   font-size: 12px;
//   line-height: 1.167;
//   margin-left: 8px;
//   color: var(--secondary-text-color);
//   padding: 1px 10px;

//   @media screen and (min-width: 1280px) {
//     padding: 3px 12px;
//   }
// }
